body {
	background-color:powderblue;
	}
p {
	font-family:Times New Roman;
	border: 2px solid red; 
	padding:30 px;
	}
strong {
	color:red;
	}
p.center{
		text-align:center;
		 color :brown;
	    }
h1      {
	    font-size:300%
		}